body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: sans-serif;
    color: white;
}

#photobooth-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* ---- ESTILOS DEL VIDEO ---- */
#webcam-stream {
    width: 100%; /* máx 600px */
    max-width: 400px;
    height: auto;
    border: 5px solid #00f;
    border-radius: 10px;
    transform: scaleX(-1);
}
h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* ---- Botón de Captura ---- */
#capture-button {
    position: relative;
    margin-top: 5px;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #00f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 20;
}


#overlay-message {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Fondo para que se note que es un modal */
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 100;
    color: white;
    font-size: 2em;
    text-align: center;
}

#qr-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border-radius: 15px;
}

.hidden {
    display: none !important;
}

/* ---- Marcos del evento para elegir ---- */
#marco-selector {
    text-align: center;
    width: 100%;
    margin: 5px 0;
}

#marco-opciones {
    display: flex;
    justify-content: center;
    gap: 15px; 
    padding: 10px;
}

.marco-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #444;
    border: 3px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    max-width: 120px;
}

/* ---- Miniatura de los marcos ----  */
.marco-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #777;
}

.marco-option p {
    margin-top: 5px;
    font-size: 0.8em;
    color: white;
}

/* ---- Marco SELECCIONADO ---- */
.marco-option.selected {
    border-color: #00ff00; 
    background-color: #555;
    transform: scale(1.05);
}

.marco-option:hover:not(.selected) {
    border-color: #00f;
}

/* ---- Botoncito cerrar ---- */
.close-button {
    position: absolute; 
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
    line-height: 1;
    padding: 0;
}

.close-button:hover {
    opacity: 1;
}